geopandas==0.12.2
geopy==2.3.0
GPUtil==1.4.0
imageio==2.25.1
matplotlib==3.7.0
moviepy==1.0.3
numpy==1.21.5
pandas==1.5.2
plotly==5.13.1
psutil==5.9.4
pyarrow==11.0.0
scikit_learn==1.2.1
scipy==1.10.1
seaborn==0.12.2
Shapely==2.0.1
spacy==3.5.0
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
torchtext==0.14.1
fastai==2.7.11
tokenizers
torchdata==0.5.1
tqdm==4.64.1
transformers==4.26.0
Basemap==1.3.6
basemap-data-hires==1.3.2
