torch~=1.11.0
transformers~=4.23.1
numpy~=1.22.4
pandas~=1.4.2
geopy~=2.2.0
scipy~=1.4.1
haversine~=2.7.0
matplotlib~=3.5.2
seaborn~=0.11.2
plotly~=5.8.2
imageio~=2.19.2
moviepy~=1.0.3
sklearn~=0.0
scikit-learn~=1.0.2
GPUtil~=1.4.0
psutil~=5.9.2
geopandas~=0.10.2
Shapely~=1.8.2
pyarrow~=7.0.0
tqdm~=4.64.0
datasets~=2.1.0
